

<div class="col-xs-12">
          <div class="box">
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <form action="">
			  <div class="box-body">
		        <div class="form-group">
		          <label for="module_name">名称</label>
		          <input type="text" class="form-control" id="name" name="keyword" placeholder="名称" value="<?php echo $_REQUEST['keyword'] ?>">
		        </div>
		        <div class="form-group">
		          <label for="module_name">状态</label>
			   	  <select name="status" id="status" class="form-control">
				  	<option value="">请选择</option>
				  	<option value="1" <?php echo $_REQUEST['status']==1?'selected':''; ?>>已启用</option>
				  	<option value="0" <?php echo $_REQUEST['status']===0?'selected':''; ?>>已冻结</option>
				  </select>
		        </div>			
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
			        <a class="btn btn-primary" href="/admin/setting/urllist">重置</a>
					<button type="submit" class="btn btn-primary">搜索</button>
			      </div>
		        </div>
		       </div>
				</form>
					<a href="/admin/Setting/urlsave" class="btn btn-app">
					<i class="fa fa-plus"></i>
					添加
				</a>
				</div>
			</div>
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>名称</th>
                  <th>描述</th>
                  <th>所属模块</th>
                  <th>状态</th>
                  <th>排序</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data['list'] as $k=>$vo){ ?>
                <tr>
                  <td><?php echo $vo['id'] ?></td>
                  <td><?php echo $vo['name'] ?></td>
                  <td><?php echo $vo['desc'] ?></td>
                  <td><?php echo $vo['mname'] ?></td>
                  <td><?php echo $vo['online']==1?  '启用': '禁用'; ?></td>
                  <td><?php echo $vo['sort'] ?></td>
                  <td><a href="/admin/setting/urlsave?id=<?php echo $vo['id'] ?>">编辑</a></td>
                </tr>
                <?php } ?>
                
                </tbody>
              </table>
			<?php echo $page;?>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>