

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Hover Data Table</h3>
            </div>
            
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <form action="">
			  <div class="box-body">
		        <div class="form-group">
		          <label for="module_name">楼盘名称</label>
		          <input type="text" class="form-control" id="name" name="search[name]" placeholder="楼盘名称" value="">
		        </div>
		        <div class="form-group">
		          <label for="module_name">状态</label>
			   	  <select name="search[status]" id="status" class="form-control">
				  	<option value="">请选择</option>
				  	<option value="1">已启用</option>
				  	<option value="0">已冻结</option>
				  </select>
		        </div>			
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
			        <a class="btn btn-primary" href="/manager/building_index">重置</a>
					<button type="submit" class="btn btn-primary">搜索</button>
			      </div>
		        </div>
		       </div>
				</form>
					<a href="/admin/users/usersave" class="btn btn-app">
					<i class="fa fa-plus"></i>
					添加
				</a>
				</div>
			</div>
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>用户名称</th>
                  <th>真实姓名</th>
                  <th>手机号</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data['list'] as $k=>$vo){ ?>
                <tr>
                  <td><?php echo $vo['id'] ?></td>
                  <td><?php echo $vo['username'] ?></td>
                  <td><?php echo $vo['realname'] ?></td>
                  <td><?php echo $vo['telephone'] ?></td>
                  <td><a href="/admin/users/usersave?id=<?php echo $vo['id'] ?>">编辑</a></td>
                </tr>
                <?php } ?>
                
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>